automium/src/main/java/com/nithind/automium/test/automium.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Tue Jul 19 2016 00:45:43 GMT+0530 (India Standard Time) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="automium">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="config">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="reporter" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="class" type="xs:string"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tests">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="test" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:string"></xs:attribute>
                                    <xs:attribute name="class" type="xs:string"></xs:attribute>
                                    <xs:attribute name="order" type="xs:int"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
